.btn-filter{
    margin: 5px;
}

.catalog .btn-filter{
    margin:  5px;
} 

.catalog{
    display: inline-block;
    background-color: white;
  
}
.catalog .filter{
    display: block;

}
h1{
   font-family: 'Poppins', sans-serif;
   font-weight: 900px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h5{
    color: black;
}